<!--<div *ngFor="let array of Array">
    <h1>Parabéns!</h1>
    <h4>Seu componente está sendo exibido em tela</h4>
    <hr>
    <h5>Como aparece o seu evento abaixo?</h5>

    <div style="margin-top:30px">
        Evento: {{array.name}}
    </div>
    <div>
        Data: {{array.date}}
    </div>
    <div>
        Hora: {{array.time}}
    </div>
    <div>
        Endereço: {{array.location?.address}}, {{array.location?.city}}, {{array.location?.country}},
    </div>
    <a href="{{array.onlineUrl}}">Link</a>
</div>
-->